# Copie este arquivo para .env e ajuste as senhas/portas.
# NUNCA commite o .env real no git.

# --- Redis (SESSION) ---
REDIS_SESSIONS_PORT=6379

# AuthService Profile
REDIS_SESSIONS_AUTH_USERNAME=
REDIS_SESSIONS_AUTH_PASSWORD=

# BFF Profile
REDIS_SESSIONS_BFF_USERNAME=
REDIS_SESSIONS_BFF_PASSWORD=


# --- Redis ---

REDIS_CACHE_PORT=6380
REDIS_CACHE_PASSWORD=

REDIS_FEED_PORT=6381
REDIS_FEED_PASSWORD=


# --- Postgres ---
POSTGRES_USER=admin
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

# --- Kafka ---
KAFKA_EXTERNAL_PORT=9094
KAFKA_UI_PORT=8089

# --- MinIO (S3-compatible) ---
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# --- Observabilidade ---
PROMETHEUS_PORT=9090
ALERTMANAGER_PORT=9093
GRAFANA_USER=admin
GRAFANA_PASSWORD=
GRAFANA_PORT=3000
LOKI_PORT=3100
JAEGER_UI_PORT=16686
